*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.wrapper{
    width: 100%;
    height: 100vh;
}
img{
    width: 100%;
    display: block;
}
:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-grey: #717171;
	--color-light-grey: #c1c1c1;
	--color-highlight: #adff2f;
}
.d-flex{
    display: flex;
    flex-flow: row nowrap;
}
.stretch{
    align-items: stretch;
}
.small-logo{
    display: none;
}
.align-center{
    align-items: center;
    align-content: center;
}
.space-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: end;
}
.justify-center{
    justify-content: center;
}
.justify-start{
    justify-content: start;
}
.text-center{
    text-align: center;
}
/* general */
a, ul{
    text-decoration: none;
    list-style: none;
    color: var(--color-white);
}
.text-white{
    color: var(--color-white);
}
.padding-x{
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding-y{
    padding-left: 10px;
    padding-right: 10px;
}
.line-height{
    line-height: 30px;
}
.small-font{
    font-size: 0.8rem;
}
.medium-font{
    font-size: 0.8rem;
}
.opacity{
    opacity: 60%;
}
.small-padding-bottom{
    padding-bottom: 10px;
}

hr{
    width: 95%;
    background-color: var(--color-light-grey);
}
.bold{
    font-weight: 600;
}
main{
    width: 100%;
    height: calc(100% - 80px);
}
.grey-text{
    color: var(--color-light-grey);
}

/* play-bar */
#play-bar{
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    background-color: var(--color-dark-grey);
    color: var(--color-light-grey);
}
#play-bar img{
    width: 40px;
    height: 40px;
}
.song{
    width: calc(100%/3);
}
.play{
    padding: 15px;
    text-align: center;
}
.play-bar{
    height: 4px;
    width: 100%;
}
input[type="range"] {
    accent-color: var(--color-white);
  }
.volume-bar{
    width: 30%;
    height: 4px;
}

/* side bar */
#side-bar{
    width: 200px;
    background-color: var(--color-black);
    position: relative;
    color: var(--color-white);
}
.top-bar{
    height: calc(100% - 90px);
    padding: 10px;
}
.list i{
    padding-left: 5px;
    font-size: 1.5rem;
    line-height: 40px;
}
.playlist{
    height: 150px;
    overflow-y: scroll;
    color: var(--color-white);
}
.bottom-bar{
    height: 90px;
    padding: 10px;
}
.border-top{
    border-top: 1px solid white;
    width: 98%;
}
.fa-square-plus{
    font-size: 2.5rem;
    color: var(--color-light-grey);
}
.profile img{
    width: 30px;
    height: 30px;
    background-color: var(--color-grey);
    border-radius: 50%;
}
.logo{
    width: 70%;
    padding-bottom: 10px;
}
/* main content */
#main-content{
    width: calc(100% - 200px);
    overflow-y: auto;
    padding-top: 100px;
    background-color: var(--color-dark-color);
    padding: 90px 10px 10px 10px;
}
.cover{
    width: calc((100%/6)-36px);
    margin: 6px;
}
.cover-img{
    position: relative;
}
.cover-mix{
    width: calc((100%/2)/3 - 6px);
    margin: 6px;
}
.circle{
    border-radius: 50%;
}
/* call to action */
.call-to-action{
    width: calc(100% - 200px);
    height: 70px;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.209);
}
.bt-upgrade{
    border: 1px solid var(--color-white);
    padding: 10px 30px;
    border-radius: 20px;
}
.button{
    text-align: right;
    margin: 0 auto;
    padding: 25px 10px;
}

/* media query */
@media screen and (max-width:1200px) {
    .wrap{
        flex-flow: row wrap;
     }
    .cover{
        width: calc((100%/4) - 24px);
        margin: 6px;
    }
    .cover-mix{
        width: calc((100%/2)/2 - 12px);
        margin: 6px;
    }
    #main-content{
        padding: 90px 0px 0px 10px;
    }
}
@media screen and (max-width:768px) {
     .cover{
         width: calc((100%/2) - 12px);
         margin: 6px;
     }
     .cover-mix{
        width: calc((100%/2) - 12px);
        margin: 6px;
    }
     .wrap{
        flex-flow: row wrap;
     }
     #main-content li{
        padding-bottom: 40px;
     }
}
@media screen and (max-width:576px) {
    #side-bar{
        width: 60px;
    }
    .fa-circle-down{
        font-size: 1.3rem;
    }
    .profile{
        justify-content: center;
    }
    .border-top{
        display: none;
    }
    .bottom-bar{
        text-align: center;
    }
    #main-content{
        width: 100%;
    }
    .call-to-action{
        width: calc(100% - 60px);
    }
    .hidden{
        display: none;
    }
    .small-logo{
        display: inline-block;
    }
    .logo{
        display: none;
    }
    #play-bar .d-flex{
        flex-flow: row nowrap;
    }
    .big-font{
        font-size: 1.2rem;
    }
}

/* hover */
.bt-upgrade:hover{
    padding: 12px 35px;
}
.grey-text:hover{
    color: var(--color-white);
}
.hover-play{
    display: none;
    transition: display 4s;
}
.cover-img:hover .hover-play{
    display: flex;
    background-color: rgba(0, 0, 0, 0.292);
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    font-size: 3rem;
}
.hover-play-circle{
    border-radius: 50%;
}
.underline:hover{
    text-decoration: underline;
}
.green:hover{
    color: var(--color-highlight);
    font-weight: 700;
}
.start-bar:hover{
    background-color: var(--color-highlight);
}
.border-green:hover{
    border-bottom: 2px solid var(--color-highlight);
}
.side-green:hover{
    border-left: 2px solid var(--color-highlight);
}
input[type="range"]:hover{
    accent-color: var(--color-highlight);
  }

/* la mia libreria */
/*  */

#library{
    background-color: var(--color-dark-color);
}
.heart-container{
    background-color: rgb(172, 105, 235);
    width: 200px;
    height: 200px;
    position: relative;
    margin: 10px;
    border-radius: 10px;
}
.heart-container i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: var(--color-white);
}
.library-intro{
    padding: 10px;
    border-bottom: 1px solid white;
}
